
.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px; 
    height: 100%; 
    background-color: #698b87; 
    border: 3;
    padding: 20px;
    overflow-y: auto; 
    font-family: Arial, sans-serif; 
    color: #333; 
}

.cart-container h2 {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

.cart-container ul {
    list-style: none; 
    padding: 0; 
}

.cart-container li {
    margin-bottom: 20px; 
}

.cart-container button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 8px 16px; 
    cursor: pointer; 
}

.cart-container button:hover {
    background-color: #0056b3; /* Change button background color on hover */
}


.container {
    padding: 20px;
    background-color: #698b87;
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-item > div {
    margin-bottom: 5px;
}
.card-body{
    color:#333;
    background-color: #479187;

}
input{
    border: #698b87;
    width: 100px;
}
.total-price{
    background-color: aliceblue;
    border-radius: 3px;
}
.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.card-text{
    color:#131212;
    font-family:Arial, Helvetica, sans-serif
}